---
layout: layouts/common.njk
pagetitle: "Page Title - 404"
permalink: /404.html
---
{% import "components/sectionmapper.njk" as sm %}
<section class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <figure class="image is-square">
                    <img class="not-found__image" src="images/404.png"/>
                </figure>
            </div>
            <div class="column">
                <h1 class="title">
                    Oops!
                </h1>
                <h2 class="subtitle">
                    This page does not exist!
                </h2>
            </div>
        </div>
    </div>
</section>