---
layout: layouts/base.njk
pagetitle: "Page Title - Home"
permalink: /
---
{% import "components/sectionmapper.njk" as sm %}
{% include "components/header.njk" %}
{% for section in sections[variables.homepageSectionGroup].sectionGroupList %}
    {{sm.sectionMapper(section)}}
{% endfor %}