<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          {% markdown %}
          {{ activeComponent.columnFirst }}
          {% endmarkdown %}
        </div>
      </div>
      <div class="column">
        <div class="content">
          {% markdown %}
          {{ activeComponent.columnSecond }}
          {% endmarkdown %}
        </div>
      </div>
    </div>
  </div>
</section>