{% import "components/codebox.njk" as cb %}
        {% include "components/navbar.njk" %}
<section class="hero is-bold is-primary is-small">
    <div class="hero-head">
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="column is-half is-offset-one-quarter">
                <div class="box header-box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <img class="is-rounded portrait-image" src="https://picsum.photos/180" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content is-clipped">
                                <strong>Name here</strong>
                                <small>@nametag</small>
                                <div class="tags mt-2 mb-0">
                                    <span class="tag is-primary is-small">Title 1</span>
                                    <span class="tag is-link is-small">Title 2</span>
                                    <span class="tag is-info is-small">Title 3</span>
                                </div>
                                <p class="occupation-description">Description 
                                    <span>Sub-description</span></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>