<!DOCTYPE html="has-navbar-fixed-top">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset=“UTF-8”>
    <title>{{pagetitle}}</title>
    <link rel="stylesheet" href="/styles/bulma.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script src="https://kit.fontawesome.com/dc439e8e0d.js" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    {{ content | safe }}
    {% include "components/footer.njk" %}
</body>
</html>